<aside id="sidebar" class="sidebar">

	<ul class="sidebar-nav" id="sidebar-nav">

		<li class="nav-item">
			<a class="nav-link collapsed" href="/Admin/Dashboard/Index">
				<i class="bi bi-grid"></i>
				<span>Dashboard</span>
			</a>
		</li>

		<li class="nav-item">
			<a class="nav-link collapsed" href="/Admin/Category/Index">
				<i class="bi bi-bookmarks"></i>
				<span>Kategori</span>
			</a>
		</li><!-- End Profile Page Nav -->

		<li class="nav-item">
			<a class="nav-link collapsed" href="/Admin/About/Index">
				<i class="bi bi-card-checklist"></i>
				<span>Hakkımızda</span>
			</a>
		</li><!-- End Profile Page Nav -->

		<li class="nav-item">
			<a class="nav-link collapsed" href="/Admin/Contact/Index">
				<i class="bi bi-envelope-at"></i>
				<span>Mesajlar</span>
			</a>
		</li><!-- End Profile Page Nav -->

		<li class="nav-item">
			<a class="nav-link collapsed" href="/Admin/Blog/Index">
				<i class="bi bi-chat-left-quote"></i>
				<span>Blog</span>
			</a>
		</li><!-- End Profile Page Nav -->

		<li class="nav-item">
			<a class="nav-link collapsed" href="/Admin/Comment/Index">
				<i class="bi bi-chat-left-quote"></i>
				<span>Yorumlarım</span>
			</a>
		</li><!-- End Profile Page Nav -->

		<li class="nav-item">
			<a class="nav-link collapsed" href="/Admin/Users/Index">
				<i class="bi bi-people-fill"></i>
				<span>Kullanıcılar</span>
			</a>
		</li><!-- End Profile Page Nav -->

		<li class="nav-item">
			<a class="nav-link collapsed" href="/Admin/Role/Index">
				<i class="bi bi-person-bounding-box"></i>
				<span>Roller</span>
			</a>
		</li><!-- End Profile Page Nav -->

		<li class="nav-item">
			<a class="nav-link collapsed" href="/Admin/Profile/Index">
				<i class="bi bi-person-gear"></i>
				<span>Profil</span>
			</a>
		</li><!-- End Profile Page Nav -->

		<li class="nav-item">
			<a class="nav-link collapsed" href="/Admin/Profile/LogOut">
				<i class="bi bi-arrow-bar-right"></i>
				<span>Çıkış Yap</span>
			</a>
		</li><!-- End Profile Page Nav -->

	</ul>

</aside>