
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Default/Index.cshtml";
}

<div class="pagetitle">
    <h3>Dashboard</h3>
</div><!-- End Page Title -->

<section class="section dashboard">
    <div class="row">


        <div class="col-lg-12">
            <div class="row">

                <div class="col-xxl-3 col-md-3">
                    <div class="card info-card revenue-card">
                        <div class="card-body text-center">
                            <h5 class="card-title">Kategori Sayısı</h5>

                            <div class="d-flex align-items-center justify-content-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-cart"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>@ViewBag.categoryCount</h6>                                
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-xxl-3 col-md-3">

                    <div class="card info-card customers-card">

                        <div class="card-body text-center">
                            <h5 class="card-title">Kullanıcı Sayısı</h5>
                            <div class="d-flex align-items-center justify-content-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-people"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>@ViewBag.userCount</h6>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
             
                <div class="col-xxl-3 col-md-3">
                    <div class="card info-card revenue-card">
                        <div class="card-body text-center">
                            <h5 class="card-title">Blog Sayısı</h5>
                            <div class="d-flex align-items-center justify-content-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-currency-dollar"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>@ViewBag.blogCount</h6>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-xxl-3 col-md-3">

                    <div class="card info-card customers-card">

                        <div class="card-body text-center">
                            <h5 class="card-title">Gelen Mesajlar</h5>
                            <div class="d-flex align-items-center justify-content-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-envelope"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>@ViewBag.messageCount</h6>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>



                <div class="col-xxl-6 col-md-6">

                    <div class="card info-card customers-card">

                        <div class="card-body text-center">
                            @await Component.InvokeAsync("_DashboardCategoryWithBlogCountComponentPartial")
                        </div>
                    </div>

                </div>

                <div class="col-xxl-6 col-md-6">

                    <div class="card info-card customers-card">

                        <div class="card-body text-center">
                            @await Component.InvokeAsync("_DashboardCommentWithBlog")
                        </div>
                    </div>

                </div>


            </div>
        </div><!-- End Left side columns -->

    </div>

</section>
