@model List<AppRole>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Areas/Admin/Views/Default/Index.cshtml";
}

<div class="pagetitle">
	<h3>Rol Listesi</h3>
</div>

@{
	int count = 0;
}

<table class="table table-bordered table-hover">
	<tr>
		<th>#</th>
		<th>Rol Adı</th>
		<th>İşlemler</th>
	</tr>

	@foreach (var item in Model)
	{
		count++;
		<tr>
			<th>@count</th>
			<td>@item.Name</td>
			<td>
				<a href="/Admin/Role/DeleteRole/@item.Id" class="btn btn-danger">Sil</a>
			</td>
		</tr>
	}
</table>

<a href="/Admin/Role/CreateRole" class="btn btn-primary">Yeni Rol Oluştur</a>

