<aside id="sidebar" class="sidebar">

	<ul class="sidebar-nav" id="sidebar-nav">

		<li class="nav-item">
			<a class="nav-link collapsed" href="/Writer/Blog/Index">
				<i class="bi bi-chat-left-quote"></i>
				<span>Blog</span>
			</a>
		</li><!-- End Profile Page Nav -->


		<li class="nav-item">
			<a class="nav-link collapsed" href="/Writer/Comment/Index">
				<i class="bi bi-chat-left-quote"></i>
				<span>Yorumlarım</span>
			</a>
		</li><!-- End Profile Page Nav -->

		<li class="nav-item">
			<a class="nav-link collapsed" href="/Writer/Profile/Index">
				<i class="bi bi-person-gear"></i>
				<span>Profil</span>
			</a>
		</li><!-- End Profile Page Nav -->

		<li class="nav-item">
			<a class="nav-link collapsed" href="/Writer/Profile/LogOut">
				<i class="bi bi-arrow-bar-right"></i>
				<span>Çıkış Yap</span>
			</a>
		</li><!-- End Profile Page Nav -->

	</ul>

</aside>