@model List<ResultSocialDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Default/Index.cshtml";
}

<div class="pagetitle">
	<h3>Sosyal Medya</h3>
</div><!-- End Page Title -->
@{
	int count = 0;
}

<table class="table table-bordered table-hover">
	<tr>
		<th>#</th>
		<th>Adı</th>
		<th>Link</th>
		<th>Icon</th>
		<th>İşlemler</th>
	</tr>

	@foreach (var item in Model)
	{
		count++;
		<tr>
			<th>@count</th>
			<td>@item.Name</td>
			<td>@item.Url</td>
			<td>@item.Icon</td>
			<td>
				<a href="/Admin/Social/DeleteSocial/@item.Id" class="btn btn-outline-danger">Sil</a>
				<a href="/Admin/Social/UpdateSocial/@item.Id" class="btn btn-outline-info">Güncelle</a>
			</td>
		</tr>
	}
</table>
<a href="/Admin/Social/CreateSocial" class="btn btn-outline-primary">Yeni Sosyal Medya Oluştur</a>